 @import './reset.css'; 

  
body {
   padding-left: 1rem;
   background-color: rgb(220,224,250);
   padding-top: 2rem;
}

.form-location input, button{
  border: none;
 border-radius: 4px;
}

.form-location button {
  cursor:pointer;
}
.form-location button:hover {
  cursor:pointer;
  opacity: 0.7;
}

.location-container{
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.current-container{
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 0.4rem;

    background-color: rgb(248,249,254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding-block: 1rem;
    
}

.current-container>*:not(:last-child) {
    margin-bottom: 0.7rem;
}
.current-time span{
    display: inline;
}
span{
    display: block;
}

.temp-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.temp-container__temp{
    font-size: 2rem;
}

.container-infos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1.2rem;
}

.hourly-temperature-container{
    display: flex;
    column-gap:2rem;
}

.week-forecast-container{
    display: flex;
    column-gap: 2rem;
}

.card-week-forecast{
    display: flex;
    flex-direction: column;
    align-items: center; 

    background-color: rgb(248,249,254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 0.3rem;
    cursor: pointer;
}

.card-hour-temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0.1rem;

    background-color: rgb(248,249,254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 0.4rem;
}

.hourly-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    column-gap: 0.4rem;
    font-size: 0.8rem;
  
}

.wrapper{
    max-width: 700px;
}

