
/* reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
   
}

.current-container{
    border: 1px solid green;
}

span{
    display: block;
}

.temp-container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.temp-container__temp{
    font-size: 2rem;
}

.container-infos{
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.hourly-temperature-container{
    border: 1px solid blue;
    display: flex;
    column-gap:2rem;
}

.week-forecast-container{
    border: 1px solid greenyellow;
    display: flex;
    column-gap: 2rem;
}